<html>
    <head>
    <link rel="stylesheet" type="text/css" href="../htdocs/media/js/ext/resources/css/ext-all.css">  
    <script type="text/javascript" src="../htdocs/media/js/ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="../htdocs/media/js/ext/ext-all.js"></script>
    <script type="text/javascript" src="../htdocs/media/js/index.js"></script>  
	{% block js %}  
	{% endblock %} 
    </head>
    <body>


		{% block content %}
		<h1>Welcome to the LingDesktop</h1>
		{% endblock %}
	</body>
</html>
