<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>LingDesktop Search Page</title>
    <link rel="stylesheet" type="text/css" href="../htdocs/media/js/ext/resources/css/ext-all.css"/>

    <!-- GC -->
    <!-- LIBS -->
    <script type="text/javascript" src="../htdocs/media/js/ext/adapter/ext/ext-base.js"></script>
    <!-- ENDLIBS -->

    <script type="text/javascript" src="../htdocs/media/js/ext/ext-all.js"></script>

    <!--script language="javascript" src="LingDesktop.js"></script-->
    <script language="javascript" src="../htdocs/media/js/searchwindow.js"></script>
       <script language="javascript" src="../htdocs/media/js/quicksearch.js"></script>
       <script language="javascript" src="../htdocs/media/js/samplequery.js"></script>
    <!--script language="javascript" src="TabPanel.js"></script-->
    <!--script language="javascript" src="OntologyTree.js"></script-->


<script type="text/javascript" src="../htdocs/media/js/ext/examples/shared/examples.js"></script>

    <!-- Common Styles for the examples -->
    <link rel="stylesheet" type="text/css" href="../htdocs/media/js/ext/examples/shared/examples.css"/>

    <style type="text/css">
        .x-panel-body p {
            margin: 10px;
            font-size: 12px;
        }
    </style>
</head>
<body>

<!-- EXAMPLES -->
<h1>LingDesktop</h1>
<p>Search, create, share....</p>
</body>
</html>
